@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
<div class="round-go-back-container">
    <span style="cursor: pointer; font-size: 26px; margin-left: 13px; margin-top: -7px; " @onclick=@GoBackAction class="material-icons">arrow_back_ios</span>
</div>

@code {

    private async Task GoBackAction()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }

}