<div @onclick="@OnClick" class="@($"kcard2container{(CssClass == null ? "" : ($" {CssClass}"))}")"
     @attributes="InputAttributes">
    <div style="display: flex;align-items: center;">
        @if (!string.IsNullOrEmpty(MaterialUIIconCode))
        {
            <span
                style=@("margin-right: 5px;" + (string.IsNullOrWhiteSpace(MaterialUIIconColor) ? string.Empty : ($"color: {MaterialUIIconColor}")))
                class="material-icons">@MaterialUIIconCode</span>
        }

        @if (!string.IsNullOrEmpty(Title))
        {
            <h4 style="margin-left: 5px;">@Title</h4>
        }

        @if (HeaderContent != null)
        {
            @HeaderContent
        }
    </div>

    @ChildContent

</div>


@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    [Parameter] public string? CssClass { get; set; }

    [Parameter] public string? Title { get; set; }

    [Parameter] public string? MaterialUIIconCode { get; set; }

    [Parameter] public string? MaterialUIIconColor { get; set; }

    [Parameter] public RenderFragment? HeaderContent { get; set; }

    [EditorRequired] [Parameter] public RenderFragment ChildContent { get; set; } = null!;
}