@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms

@typeparam TValue
<div>
    @if (!string.IsNullOrWhiteSpace(Placeholder))
    {
        <label for="@Id" class="form-label">@Placeholder</label>
    }
    <InputDate id="@Id" class="form-control" TValue="TValue" Type="Type" @attributes="InputAttributes" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression"/>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString();

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    [Parameter]
    public TValue Value { get; set; }

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public EventCallback<TValue> ValueChanged { get; set; }

    [Parameter]
    public Expression<Func<TValue>>? ValueExpression { get; set; }

    [Parameter]
    public InputDateType Type { get; set; }
}