@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div @attributes="InputAttributes" class="k-splitter">
    <div id="@FirstId" class="k-splitter-first">
        @FirstChild
    </div>
    <div id="@SecondId" class="k-splitter-second">
        @SecondChild
    </div>
</div>

<style>
    .k-splitter {
        flex-direction: @(Orientation == KSplitterOrientation.Horizontal ? "row" : "column");
    }

    .gutter {
        background-color: rgb(var(--bs-tertiary-bg-rgb)) !important;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .gutter.gutter-horizontal {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        cursor: @(Orientation == KSplitterOrientation.Horizontal ? "ew-resize" : "ns-resize");
    }
    
</style>

<script>
    function initSplit(firstId, secondId, firstWidthPercent, secondWidthPercent) {
        Split(["#" + firstId, "#" + secondId], {
            gutterSize: 3,
            sizes: [firstWidthPercent, secondWidthPercent]
        });
    }
</script>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    [Parameter] [EditorRequired] public RenderFragment FirstChild { get; set; } = null!;
    [Parameter] [EditorRequired] public RenderFragment SecondChild { get; set; } = null!;

    [Parameter] public int FirstChildWidthPercent { get; set; } = 50;
    [Parameter] public int SecondChildWidthPercent { get; set; } = 50;

    [Parameter] public string FirstId { get; set; } = "a" + Guid.NewGuid().ToString();
    [Parameter] public string SecondId { get; set; } = "a" + Guid.NewGuid().ToString();

    [Parameter] public KSplitterOrientation Orientation { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initSplit", FirstId, SecondId, FirstChildWidthPercent, SecondChildWidthPercent);
        }
    }

    public enum KSplitterOrientation
    {
        Horizontal,
        Vertical
    }

}

