@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<span style="margin-bottom:10px;" @onclick=@GoBackAction class="material-symbols">arrow_back</span>

@code {

    private async Task GoBackAction()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }

}