@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<span style="cursor: pointer;" @onclick=@GoBackAction class="material-icons">arrow_back</span>

@code {

    private async Task GoBackAction()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }

}