@implements IDisposable

<div class="card">
@if (ChildContent != null)
{
    <div class="card-body">
        @ChildContent
    </div>
}
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    public void Dispose()
    {
        
    }
}